<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--accountDao = com.dgut.dao.impl.AccountDaoImpl -->
    <!-- accountDao: new AccountDaoImpl()-->
    <bean id="accountDao" class="com.dgut.dao.impl.AccountDaoImpl"/>


    <!--  map: (accountService: new AccountServiceImpl())-->
    <bean id="accountService"
          class="com.dgut.service.impl.AccountServiceImpl"
          scope="prototype"
          init-method="my_init"
          destroy-method="my_destroy"
    >
    </bean>

    <!-- StaticFactory.createAccountService() -->
    <bean id="accountService2"
          class="com.dgut.factory.StaticFactory"
          factory-method="createAccountService"/>

    <!--  InstanceFactory factory = new InstanceFactory(); -->
    <bean id="factory" class = "com.dgut.factory.InstanceFactory"/>

    <!--   表示调用了new InstanceFactory().createAccountService();-->
    <bean id="accountService3"
          factory-bean="factory"
          factory-method="createAccountService"/>
</beans>