<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--accountDao = com.dgut.dao.impl.AccountDaoImpl -->
    <!-- accountDao: new AccountDaoImpl()-->
    <bean id="accountDao" class="com.dgut.dao.impl.AccountDaoImpl"/>


    <!--  map: (accountService: new AccountServiceImpl())-->
<!--    <bean id="accountService"-->
<!--          class="com.dgut.service.impl.AccountServiceImpl"-->
<!--          scope="prototype"-->
<!--          init-method="my_init"-->
<!--          destroy-method="my_destroy"-->
<!--    >-->
<!--    </bean>-->

    <!-- StaticFactory.createAccountService() -->
    <bean id="accountService2"
          class="com.dgut.factory.StaticFactory"
          factory-method="createAccountService"/>

    <!--  InstanceFactory factory = new InstanceFactory(); -->
    <bean id="factory" class = "com.dgut.factory.InstanceFactory"/>

    <!--   表示调用了new InstanceFactory().createAccountService();-->
    <bean id="accountService3"
          factory-bean="factory"
          factory-method="createAccountService"/>


    <!-- new AccountServiceImpl()-->
    <bean id="accountService01" class="com.dgut.service.impl.AccountServiceImpl"/>

    <!-- new AccountServiceImpl( new AccountDaoImpl())-->
    <bean id="accountService02" class="com.dgut.service.impl.AccountServiceImpl">
        <constructor-arg index="0" ref="accountDao"/>
    </bean>


    <!--
    iaccountDao dao = new IaccountDao();
    accountService03 = new AccountServiceImpl()
    accountService03.setAccountDao(dao);

    IoC :依赖注入；控制反转；
    -->
    <bean id="accountService03" class="com.dgut.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao" />
    </bean>

    <bean id="num" class = "java.lang.Integer" factory-method="parseInt">
        <constructor-arg index="0" value="123" />
    </bean>

    <!-- new string("123")-->
    <bean id="str" class="java.lang.String">
        <constructor-arg index="0" value="dgut123"/>
    </bean>

    <bean id="length" factory-bean="str" factory-method="length"/>


    <bean id="user" class="com.dgut.domain.User">
        <constructor-arg name="username" value="xieman"/>
        <constructor-arg name="age" value="12"/>
    </bean>

    <!-- user2 = new User();
        user2.setUsername("dgut");
    -->
    <bean id="user2" class="com.dgut.domain.User">
        <!--property表示调用他的set方法赋值-->
        <property name="username" value="dgut"/>
    </bean>
</beans>